@font-face
{
font-family: synth;
src: url('../fonts/synth_norm.ttf');
}

html{
   height:100%;
}

#load{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: #f00;
   z-index: 1000;
}

#options-button{
   position:absolute;
   right:20px;
   top:20px;
}

.modal{
   width: 450px;
   margin-left: -225px;
}

#main-container{
   position:relative;
   margin: 0px;
   padding:0px;
   /* height: 100%; */

   /* Computer size */
   height: 1024px;
   width: 768px;
   border: 1px solid grey;
}

#timbre-space{
   height: 79%;
   /*display: none;*/
}

#config-panel{
   height: 100%;
   width: 100%;
   background: #000;
   display: none;
}

#clasic-synth{
   height: 79%;
   width: 100%;
   background: #000;
   display: none;
}

#piano-scroll{
   height: 21%;
   width: 100%;
   overflow-y: hidden;
   overflow-x: auto;
}

#piano{
   height:100%;
   width: 800%;
}

.octave{
   position:relative;
   height: 100%;
   width: 8.8%;
   float:left;
   background: url(../img/pianoDark.png) no-repeat center center;
   /* -webkit-background-size: cover; */
   background-size: 100% 100%;
}

.key{
   float: left;
}

.white{
   width: 14.28%;
   height: 100%;
}

.white > span{
   display:block;
   margin-top: 242%;
   margin-left:26%;
}

.blacks{
   height: 66%;
   width: 81%;
   position: absolute;
   left:9.7%;
}

.blacks > .key{
   z-index: 2;
   width: 11.7%;
   height: 100%;
   margin-right: 6%;
}

.blacks > .key.more-margin{
   margin-right:23.5%;
}
.blacks > .key:last-child{
   margin-right: 0px;
}
