LIBNAME    =zexy
TARNAME =  $(LIBNAME)-2.2.4.tgz

# when build as a library this holds a pre-processor define
# (e.g. "-DZEXY_LIBRARY")
# when build as single externals this is empty
BUILDLIBRARY =-DZEXY_LIBRARY

PREFIX     =/usr/local

INSTALL_BIN=$(DESTDIR)$(PREFIX)/lib/pd/extra/$(LIBNAME)
INSTALL_DOC=$(DESTDIR)$(PREFIX)/lib/pd/extra/$(LIBNAME)

EXT = pd_linux 
DEFS = -DHAVE_CONFIG_H
IFLAGS = -I. 

CC = gcc
LD = gcc
STRIP = strip
STRIPFLAGS= --strip-unneeded

LFLAGS = -shared -Wl,--export-dynamic 

Z_CFLAGS = $(IFLAGS) $(DEFS) $(BUILDLIBRARY) -DPD $(WFLAGS)  -g -O2 -mms-bitfields -fPIC $(CFLAGS)
LIBS = -lm -lc 
MAKEDEP_FLAGS = -MM

CONFIGUREFLAGS = 

Z_CPPFLAGS = $(IFLAGS) $(DEFS) $(BUILDLIBRARY) -DPD $(WFLAGS) -fPIC -mms-bitfields   $(CPPFLAGS)
